@font-face {
    font-family: 'Condenso';
    src: url('Condenso-Regular.woff2') format('woff2'),
        url('Condenso-Regular.woff') format('woff'),
        url('Condenso-Regular.ttf') format('truetype'),
        url('Condenso-Regular.svg#Condenso-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

